// Reversed input variant
.v-input--reverse .v-input__slot {
    flex-direction: row-reverse;
    justify-content: flex-end;
    .v-application--is-ltr & {
      .v-input--selection-controls__input {
        margin-right: 0;
        margin-left: 8px;
      }
    }
    .v-application--is-rtl & {
      .v-input--selection-controls__input {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
  
  // Bonus "expand" variant
  .v-input--expand .v-input__slot {
    // justify-content: space-between;
    .v-label {
        display: block;
        flex: 1;
        color: #21455E;
        font-size: 0.75em;
        font-weight: 500;
    }
  }

  //live preview
  .live_preview {
    font-size: 14px;
  }

  .navbar_link_active.v-btn--outlined{
      border: 3px solid #CCCCCC;
      border-color: #0DABDB transparent transparent transparent;
      border-radius: 3px;
  }

  @font-face {
    font-family: HelveticaFont;
    src:url("/fonts/HELVETICA/Helvetica Bold.ttf");
}

  .company_name {
    font: normal normal bold 20px HelveticaFont;
    color: #21455E;
    opacity: 1;
  }

  .welcome_sheet {
    border: 2px dashed #A3BAC6 !important;
    border-radius: 38px !important;
    opacity: 1;
  }

   .v-list-item--link--active{
    background: #E2E5ED 0% 0% no-repeat padding-box !important;
    border: 1px solid #0DABD838 !important;
    border-radius: 10px !important;
    opacity: 1;
  }

  .arrow_down {
    display: inline-block;
    transform: rotate(90deg);
  }
  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row)
  {
    border-bottom: none !important;
    padding-bottom: 20px;
  }

  .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th
  {
    border-bottom: none !important;
    padding-bottom: 20px;
  }

  .v-toolbar__content
  {
    border-bottom: 1px solid #E2E5ED;
  }

  a.navbar_logo_link
  {
    text-decoration: none !important;
  }

  .v-list--rounded .v-list-item, .v-list--rounded .v-list-item::before, .v-list--rounded .v-list-item > .v-ripple__container
  {
    border-radius: 10px !important;
  }



  @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,900&display=swap");
  $body-font-family: "Poppins" !important;
  